body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-left: 25%;
    color: #007BFF;
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    margin-left: 25%;
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    display: inline-block;
    margin-top: 20px;
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

a:hover {
    background-color: #c0392b;
}

.footer {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.logout {
    margin-left: 45%;
}

.reset-button {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    margin-left: 55%;
}

.reset-button:hover {
    background-color: #007BFF;
}
