body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
}

input, select {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: #fff;
}
.btnreg{

    margin-top: 4px;
}
.btnlo{
    margin-top: 4px;
}